* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    margin: 0 auto;
    box-sizing: border-box; 
    padding: 50px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    background-color: #445162;
    height: 323px;
}

.product-name {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 60px;
    font-weight: 400;
}

.header-list {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.header-img {
    background-color: #fff;
    width: 469px;
    height: 214px;
}

.about-product {
    margin: 0 auto;
    box-sizing: border-box; 
    padding: 50px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.about-product__article {
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
}

.about-product__p {
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 649px;
    margin-bottom: 20px;
}

.about-product__img {
    width: 430px;
    height: 245px;
    background-color: #445161;
}

.dignity {
    margin: 0 auto;
    box-sizing: border-box; 
    padding: 50px;
    width: 1280px;

    background-color: #f5f5f5;
}

.dignity_columns {
    display: flex;
    justify-content: space-between;
}

.dignity__heading {
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.dignity__column {
    width: 575px;
}

.dignity-list {
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 35px;    
    list-style-image: url(img/plus_icon.png) ;
}